body{
    background-color: antiquewhite;
    width: 90%;
    margin: 0 auto;
}

#instruments{
    display: grid;
    grid-template-columns: 10% 10%;
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.inst-format{
    color: greenyellow;
}
input{
    font-size: xx-large;
}
header div{
background-color: aqua;
min-height: 5em;
}
#flight-screen{
    position: relative;
background-color: black;
min-height: 30em;
margin: 10px;
overflow: hidden;
}
#flight-score{
    background-color: brown;
    margin: 0 10px;
    min-height: 5em;
}
footer{
    background-color: aqua;
    min-height: 5em;
}
/* runway graphics here */
#runway{
    width: 100%;
    height: 3.5em;
    background-color: #2d2e2d;
    bottom: 0;
    position: absolute;
}

/* MIDDLE MARK DATA */
.middle_mark{
    width: 2%;
    top: 45%;
    background-color: azure;
    height: 5%;
    position: absolute;
}
@keyframes speed_a {
    from {right:-5%;} to {right: 100%}
}
.speed_a{
    animation: speed_a 20s infinite linear; 
}
@keyframes speed_b {
    from {right:-5%;} to {right: 100%}
}
.speed_b{
    animation: speed_b 10s infinite linear; 
}
@keyframes speed_c {
    from {right:-5%;} to {right: 100%}
}
.speed_c{
    animation: speed_c 5s infinite linear; 
}


/* MIDDLE MARK DATA */

#background{
    position: absolute;
    height: 100px;
    width: 5000px;
    background: url("/assets/images/Img_02.png") repeat-x;
    bottom: 0;
}
#craft{
    position: absolute;
    background-image: url("/assets/images/plane.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    width: 12%;
    /* width: 12%;
    height: 2px; */
    bottom: 2%;
    left: 20%;   
    /* background-color: bisque;  */
}
@keyframes moveRight {
   100% {transform: translateX(-1000px)}
}

@keyframes climb {
    100% {translate: 150px -300px}
}
.climb_class{
    animation: climb 10s linear forwards;
}
.descend_class{
    animation: descend 10s linear forwards;
}
@keyframes descend {
    100% {translate: 150px 300px}
}

/**speed adjustment**/
/*2s is fastested, slowest 100s*/
.speed0{
    animation: moveRight 60s linear infinite;
}
.speed1{
    animation: moveRight 30s linear infinite;
}
.speed2{
    animation: moveRight 15s linear  infinite;
}
.speed3{
    animation: moveRight 7s linear infinite;
}
.speed4{
    animation: moveRight 7s linear infinite;
}
.speed5{
    animation: moveRight 8s linear infinite;
}
.speed6{
    animation: moveRight 8s linear infinite;
}
.speed7{
    animation: moveRight 7s linear infinite;
}
.speed8{
    animation: moveRight 3s linear infinite;
}
.speed9{
    animation: moveRight 2s linear infinite;
}
.speed10{
    animation: moveRight 1s linear infinite;
}