body{
    background-color: antiquewhite;
    width: 90%;
    margin: 0 auto;
}

#instruments{
    display: grid;
    grid-template-columns: 10% 10%;
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.inst-format{
    color: greenyellow;
}
input{
    font-size: xx-large;
}
header div{
background-color: aqua;
min-height: 5em;
}
#flight-screen{
    position: relative;
background-color: black;
min-height: 30em;
margin: 10px;
overflow: hidden;
}
#flight-score{
    background-color: brown;
    margin: 0 10px;
    min-height: 5em;
}
footer{
    background-color: aqua;
    min-height: 5em;
}
/* runway graphics here */
#runway{
    width: 100%;
    height: 3.5em;
    background-color: #2d2e2d;
    bottom: 0;
    position: absolute;
}
#exit_mountains{
    background-image: url("/assets/images/mountain_c.png");
    background-repeat: repeat-x;
    width: 200%;
    height: 10%;
    bottom: 0;
    right: -800%;
    position: absolute;
}
/* MIDDLE MARK DATA */
.middle_mark{
    width: 2%;
    top: 45%;
    background-color: azure;
    height: 5%;
    position: absolute;
}
@keyframes speed_a {
    from {right:-5%;} to {right: 100%}
}
.speed_a{
    animation: speed_a 20s infinite linear; 
}
/* start and pause the runway lines on start of taxi */
@keyframes speed_a_taxi {
    from {right:-5%;} to {right: 80%}
}
.speed_a_taxi{
    animation: speed_a_taxi linear forwards 20s ; 
}
@keyframes speed_b_taxi {
    from {right:-5%;} to {right: 60%}
}
.speed_b_taxi{
    animation: speed_b_taxi linear forwards 15s ; 
}
@keyframes speed_c_taxi {
    from {right:-5%;} to {right: 40%}
}
.speed_c_taxi{
    animation: speed_c_taxi linear forwards 10s ; 
}


@keyframes speed_b {
    from {right:-5%;} to {right: 100%}
}
.speed_b{
    animation: speed_b 10s infinite linear; 
}
@keyframes speed_c {
    from {right:-5%;} to {right: 100%}
}
.speed_c{
    animation: speed_c 5s infinite linear; 
}


/* MIDDLE MARK DATA */

#background{
    position: absolute;
    height: 15%;
    width: 5%;
    background-image: url("../images/Img_02.png");
    background-size: cover;
    bottom: 5%;
}
#tower{
    position: absolute;
    background-image: url("../images/control_tower.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40%;
    width: 20%;
    bottom: 6%;
    right: -10%; 
}
@keyframes tower_taxi {
    from {right:-10%;} to {right: 80%}
}
.tower_taxi{
    animation: tower_taxi 20s forwards;
    animation-timing-function: ease; 
}
#craft{
    position: absolute;
    background-image: url("../images/plane.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    width: 12%;
    bottom: 4%;
    left: 20%;   
}
.cloud_small{
    height: 50px;
    width: 200px;
    background-image: url("/assets//images/cloud_a.png");
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: small_cloud_anim 5s linear infinite; 
}
@keyframes small_cloud_anim {
    from {right:-20%}
    to {right: 110%;}
}
@keyframes cruise {
    0% {translate: 0px 2px}
    50% {translate: 0px -2px}
    70% {translate: 0px 0px}
    100%{translate: 0px 2px;}
}
.cruise_class{
    animation: cruise 5s linear infinite forwards;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
